
* {
    margin: 0px;
    padding: 0px;
    box-sizing: normal;
}

main {
    overflow: hidden;
}

ul {
    padding: 0;
	margin: 0;
    list-style-type: none;
}
h4, h5, h6, h1, h2, h3 {
	margin-top: 0;
}

input {
	border: none;
    outline: none;
}
p {
	margin: 0;
}

html, body {
	background: #f3eeea !important;
	font-family: 'Montserrat', sans-serif !important;

}

body a {
	transition: 0.5s all;
    text-decoration: none !important;
    list-style-type: none !important;
}