@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: normal;
          box-sizing: normal;
}

main {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h4, h5, h6, h1, h2, h3 {
  margin-top: 0;
}

input {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

html, body {
  background: #f3eeea !important;
  font-family: 'Montserrat', sans-serif !important;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none !important;
  list-style-type: none !important;
}

.header {
  background: #fff;
  padding: 1em;
  position: relative;
}

.header .logo {
  float: left;
  padding: 1em 0em;
}

.header .head-part {
  background: url(./images/ribben.png) no-repeat center top;
  background-size: cover;
  position: absolute;
  right: -11px;
  top: 22px;
  padding: 10px 80px 4px 6px;
}

.header .head-part ul li {
  display: inline-block;
}

.header .head-part ul li a {
  padding: 0em 0.5em;
  color: #fff;
}

.header .head-part ul li a:hover {
  color: #f1715e;
}

.header .head-nav {
  float: right;
}

.header .head-nav ul {
  margin: 0;
  padding: 0;
}

.header .head-nav ul li {
  display: inline-block;
}

.header .head-nav ul li a {
  color: #668333;
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.head-nav ul li a:hover,
.head-nav ul li.active a {
  color: #3f8da3;
}

.sb-search {
  width: 0%;
  position: absolute;
  right: 44px;
  top: 0px;
  min-width: 45px;
  height: 41px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.sb-search .sb-search-input {
  position: absolute;
  top: 0;
  left: 0;
  background: #76b2c3;
  width: 95%;
  height: 41px;
  margin: 0;
  z-index: 10;
  padding: 5px 15px;
  font-size: 15px;
  color: #ffffff;
}

.sb-search .sb-search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.sb-search .sb-search-input:-ms-input-placeholder {
  color: #ffffff;
}

.sb-search .sb-search-input::-ms-input-placeholder {
  color: #ffffff;
}

.sb-search .sb-search-input::placeholder {
  color: #ffffff;
}

.sb-icon-search,
.sb-search-submit {
  width: 30px;
  height: 41px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sb-search-submit {
  background: #668333 url("../images/search.png") no-repeat -4px 8px;
  color: transparent;
  z-index: -1;
}

.sb-icon-search {
  background: #76b2c3 url("../images/search.png") no-repeat -4px 8px;
  z-index: 90;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #c0c0c0 url("../images/search.png") no-repeat -20px 7px;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

.banner {
  background: url("../images/banner.jpg") no-repeat center top;
  background-size: cover;
  min-height: 520px;
}

.banner .banner-info1 {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 13em 0em 0em;
}

.banner .banner-info1 h2 {
  font-size: 1.8em;
  font-weight: 400;
  color: #ffffff;
  width: 29%;
  margin-left: 0em;
  background: #4391a5;
  padding: 0.3em 0.5em;
  line-height: 1.5em;
}

.about {
  margin: 3em 0em 6em;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
}

.about .mission h3 {
  font-size: 2em;
  font-weight: 400;
  color: #4999af;
  margin: 1em 0em;
}

.about .mission p {
  font-size: 1.1em;
  font-weight: 400;
  color: #5f5f5f;
  line-height: 1.5em;
  margin: 1em 0em;
}

.about .mission-1 {
  margin: 3em 0em;
}

.about .mission-1 ul {
  width: 550px;
}

.about .mission-1 ul li a {
  font-size: 1.4em;
  font-weight: 400;
  color: #4292a8;
  margin: 0em 3em;
  line-height: 2.5em;
  display: block;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 20px;
}

.about .mission-1 ul li a:hover {
  color: #f1715e;
}

.about .mission-1 ul li #active {
  color: #f1715e;
}

.about .mission-1 ul li #active:hover {
  color: #4292a8;
}

.content .grids {
  padding: 3em 0;
}

.content .grids .grid1 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content .grids .grid1:hover .look {
  background: rgba(102, 131, 51, 0.79);
}

.content .grids .grid1 h3 {
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 6px #626464;
  position: absolute;
  top: 90px;
  right: 65px;
}

.content .grids .grid1 .look {
  position: absolute;
  right: 45px;
  bottom: 0;
  padding: 15px 2px 2px 14px;
  background: rgba(1, 185, 236, 0.63);
}

.content .grids .grid1 .look h4 {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.content .grids .grid1 .look p {
  -webkit-text-stroke: 0.5px;
  font-size: 0.8125em;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8em;
}

.content .grids .grid2:hover .look1 {
  background: rgba(237, 100, 80, 0.55);
}

.content .grids .grid2 h3 {
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 6px #626464;
  position: absolute;
  top: 90px;
  right: 65px;
}

.content .grids .grid2 .look1 {
  position: absolute;
  right: 45px;
  bottom: 0;
  padding: 15px 2px 2px 14px;
  background: rgba(102, 131, 51, 0.79);
}

.content .grids .grid2 .look1 h4 {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.content .grids .grid2 .look1 p {
  -webkit-text-stroke: 0.5px;
  font-size: 0.8125em;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8em;
}

.content .grids .grid3:hover .look2 {
  background: rgba(1, 185, 236, 0.63);
}

.content .grids .grid3 h3 {
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 6px #626464;
  position: absolute;
  top: 90px;
  right: 65px;
}

.content .grids .grid3 .look2 {
  position: absolute;
  right: 45px;
  bottom: 0;
  padding: 15px 2px 2px 14px;
  background: rgba(237, 100, 80, 0.55);
}

.content .grids .grid3 .look2 h4 {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.content .grids .grid3 .look2 p {
  -webkit-text-stroke: 0.5px;
  font-size: 0.8125em;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8em;
}

i.arrow {
  width: 30px;
  height: 30px;
  background: url(../images/img-sprite.png) no-repeat -62px -15px;
  display: inline-block;
  margin: -0.5em 0.5em;
}

.footer {
  background-color: #525252;
}

.footer .footer-top {
  border-bottom: 1px solid #807c7c;
  padding: 3em 0em;
}

.footer .footer-top h5 {
  color: white;
  font-weight: 600;
  font-family: 1.5em;
}

.footer .footer-top .news form input {
  margin-top: 30px;
  width: 90%;
  height: 45px;
  border-radius: 3px;
  border: none;
  background: #4999af;
  color: white;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .footer-top .news form input:hover {
  background-color: white;
  color: #4999af;
  border: 2px solid #4999af;
}

.footer .footer-top .service h5 {
  margin: 0em 0em 2em;
}

.footer .footer-top .service h6 {
  font-size: 1.3em;
}

.footer .footer-top .service p {
  font-size: 0.875em;
  line-height: 1.8em;
}

.footer .footer-top .connect ul {
  padding: 0;
}

.footer .footer-top .connect ul li {
  display: inline-block;
}

.footer .footer-top .connect ul li .fb {
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: 0px;
  background: url(../images/img-sprite.png) no-repeat -95px -16px;
}

.footer .footer-top .connect ul li .fb:hover {
  opacity: 0.4;
}

.footer .footer-top .connect ul li .twt {
  background: url(../images/img-sprite.png) no-repeat -138px -16px;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: 10px;
}

.footer .footer-top .connect ul li .twt:hover {
  opacity: 0.4;
}

.footer .footer-top .connect ul li .yout {
  background: url(../images/img-sprite.png) no-repeat -180px -16px;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: 10px;
}

.footer .footer-top .connect ul li .yout:hover {
  opacity: 0.4;
}

.footer .footer-top .connect ul li .payp {
  background: url(../images/img-sprite.png) no-repeat -225px -17px;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: 10px;
}

.footer .footer-top .connect ul li .payp:hover {
  opacity: 0.4;
}

.footer .footer-top .connect ul li .email {
  background: url(../images/img-sprite.png) no-repeat -269px -17px;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-left: 10px;
}

.footer .footer-top .connect ul li .email:hover {
  opacity: 0.4;
}

.footer .bottom {
  overflow: hidden;
}

.footer .bottom p {
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
  margin: 1em 0em;
  line-height: 1.8em;
}

.footer .bottom p a {
  color: #4999af;
}
/*# sourceMappingURL=style.css.map */